---
import { changeLanguage } from "i18next";
import MainLayout from "@/layouts/MainLayout.astro";
import Container from "@/components/ui/Container.astro";
import PostList from "@/components/blog/PostList.astro";
import UpperTitle from "@/components/ui/UpperTitle.astro";
import Paragraph from "@/components/ui/Paragraph.astro";
import Title2 from "@/components/ui/Title2.astro";

changeLanguage("en");
---

<MainLayout>
  <Container>
    <div
      class="flex my-10 mb-14 lg:mb-20 flex-col gap-1 text-center items-center justify-center max-w-[70ch] p-2 mx-auto">
      <UpperTitle>Trends, Tips, and News</UpperTitle>
      <Title2>Ventrad's Journal </Title2>
      <div class="mt-4">
        <Paragraph
          >Get inspired by the latest trends, tips, and news to optimize your
          wholesale business.
        </Paragraph>
      </div>
    </div>
    <PostList />
  </Container>
</MainLayout>
