---
import { t } from "i18next";
import Container from "../ui/Container.astro";
import UpperTitle from "../ui/UpperTitle.astro";
import Title from "../ui/Title.astro";
import Paragraph from "../ui/Paragraph.astro";
---

<Container>
  <dir class="grid lg:grid-cols-[1fr_600px] gap-10 justify-around">
    <div class="flex flex-col gap-4 max-w-[65ch]">
      <UpperTitle> {t("mission.title")} </UpperTitle>
      <Title> {t("mission.our")} </Title>
      <Paragraph> {t("mission.text")} </Paragraph>
    </div>
    <div
      class="hidden lg:flex p-8 rounded-xl text-4xl font-bold shadow-[0px_0px_30px_0px_rgba(0,0,0,0.04),0px_8px_30px_0px_rgba(0,0,0,0.08)] flex-col gap-6">
      <p class="p-5 rounded-lg bg-primary/10 text-primary">
        {t("mission.growth.title")}
      </p>
      <p class="p-5 rounded-lg bg-secondary/10 text-secondary">
        {t("mission.growth.subtitle")}
      </p>
    </div>
  </dir>
</Container>
