---
import { Trans } from "astro-i18next/components";
import Container from "../ui/Container.astro";
import Title2 from "../ui/Title2.astro";
import UpperTitle from "../ui/UpperTitle.astro";
import { t } from "i18next";
import Paragraph from "../ui/Paragraph.astro";
import Button from "../ui/Button.astro";
---

<Container>
  <div
    class="flex flex-col gap-2 text-center items-center p-4 mx-auto">
    <UpperTitle>{t("features.functions.title")}</UpperTitle>
    <Title2>
      <Trans i18nKey="features.functions.subtitle">
        {t("features.functions.subtitle")}
      </Trans>
    </Title2>
    <div class="mt-8">
      <Paragraph> {t("features.functions.description")}</Paragraph>
    </div>
    <Button color="secondary" className="mt-8 !px-10" action="contact">{t("action.commance")}</Button>
  </div>
</Container>
