---
import Button from "../ui/Button.astro";
import { Icon } from "astro-icon/components";
// import logo from "@assets/logos/logolight.svg?url";
import Container from "../ui/Container.astro";
import { t } from "i18next";
const statsData = t("hero.stats", { returnObjects: true }) as Array<any>;
---

<Container>
  <div
    class="bg-secondary-dark rounded-2xl lg:rounded-[30px] min-h-[400px] p-4 lg:min-h-[550px] flex items-center justify-center flex-col relative text-white text-center gap-3 lg:gap-5 home-hero">
    <p class="tracking-widest font-light text-sm sm:text-base show-opacity">
      {t("hero.upperTitle")}
    </p>
    <h1
      class="text-3xl sm:text-4xl md:text-5xl lg:text-[66px] font-bold flex flex-col hero-title-container">
      <span class="overflow-y-hidden">
        <p class="title-hero">{t("hero.title.1")}</p>
      </span>
      <span class="overflow-y-hidden py-2">
        <p class="title-hero">{t("hero.title.2")}</p>
      </span>
    </h1>
    <p
      class="tracking-wider text-sm font-light max-w-[85ch] mt-2 lg:mt-4 leading-6 show-opacity">
      {t("hero.description")}
    </p>
    <div
      class="flex items-center gap-3 mt-5 lg:mt-8 flex-wrap justify-center show-opacity">
      <Button variant="outline" action="contact" color="white"
        >{t("action.sales")}</Button
      >
      <Button action="contact">{t("action.demo")}</Button>
    </div>
  </div>
  <div
    class="mt-4 justify-center grid grid-cols-[repeat(auto-fit,minmax(180px,1fr))] gap-y-6 leading-5 gap-4 items-center px-6 py-3 lg:px-8 lg:py-5 bg-light-blue-bg rounded-xl lg:rounded-[20px] mx-2">
    {
      statsData.map(item => (
        <div class="flex gap-3 justify-start sm:justify-center">
          <p class="h-10 lg:h-14 text-xl lg:text-3xl aspect-square flex items-center justify-center  rounded-full bg-secondary">
            <Icon name={item.icon} />
          </p>
          <div class="flex flex-col gap-1">
            <p class="text-black font-semibold">{item.title} </p>
            <p class="text-black/80" set:html={item.text}>
              {" "}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</Container>
