---
import { plansData } from "@/utils/constants";
import Container from "../ui/Container.astro";
import Paragraph from "../ui/Paragraph.astro";
import Title from "../ui/Title.astro";
import UpperTitle from "../ui/UpperTitle.astro";
import { cn } from "@/utils/cn";
import { Icon } from "astro-icon/components";
import Button from "../ui/Button.astro";
import PricingV1Label from "../ui/PricingV1Label.astro";
import PricingV1TableDesktop from "../ui/PricingV1TableDesktop.astro";
import PricingV1TableMobile from "../ui/PricingV1TableMobile.astro";
---

<Container>
  <div  class="flex flex-col text-center gap-2 p-1 sm:p-2 max-w-1400 mx-auto">
    <UpperTitle>Plans</UpperTitle>
    <Title>Des plans flexibles pour chaque grossiste et détaillant</Title>
    <Paragraph
      >Ventrad offre quatre plans de tarification adaptés<br /> aux besoins variés
      des entreprises</Paragraph
    >
  

    <div  class="hidden lg:block overflow-x-hidden">
      <PricingV1TableDesktop />
    </divs>
    <div class="block lg:hidden">
      <PricingV1Label />
      <PricingV1TableMobile />
    </div>
  </div>
</Container>
