---
import Button from "../ui/Button.astro";
import Container from "../ui/Container.astro";
import Paragraph from "../ui/Paragraph.astro";
import Title from "../ui/Title.astro";
import UpperTitle from "../ui/UpperTitle.astro";
import { t } from "i18next";
---

<Container>
  <div class="flex flex-col gap-2 items-center text-center max-w-[800px] mx-auto justify-center">
    <UpperTitle>{t("simple.upperTitle")}</UpperTitle>
    <Title>{t("simple.title")}</Title>
    <div class="my-4">
      <Paragraph>
        {t("simple.paragraph")}
      </Paragraph>
    </div>
    <div class="mt-5">
      <Button action="contact">{t("action.start")}</Button>
    </div>
  </div>
</Container>
