---
import Button from "../ui/Button.astro";
import Container from "../ui/Container.astro";
import Paragraph from "../ui/Paragraph.astro";
import Title from "../ui/Title.astro";
import UpperTitle from "../ui/UpperTitle.astro";
---

<Container>
  <div class="flex flex-col gap-2 items-center justify-center">
    <UpperTitle>Simplifiez la Vente. </UpperTitle>
    <Title>Accélérez la Croissance.</Title>
    <div class="my-4">
      <Paragraph>
        Transformez vos processus de vente en ligne avec une solution e-commerce
        entièrement<br />
        personnalisée, conçue pour répondre aux besoins spécifiques de votre entreprise.
      </Paragraph>
    </div>
    <div class="mt-5">

      <Button action="contact">Commencez avec nous</Button>
    </div>
  </div>
</Container>
