---
import Button from "../ui/Button.astro";
import Container from "../ui/Container.astro";
import Paragraph from "../ui/Paragraph.astro";
import Title from "../ui/Title.astro";
import { t } from "i18next";
import trial from "@assets/trial.webp?url";
---

<Container>
  <div class="flex flex-col text-center gap-2 lg:gap-3 p-2 video-section">
    <Title>{t("demo.title")}</Title>
    <Paragraph>{t("demo.paragraph")}</Paragraph>
    <!-- <div class="my-10 lg:my-16">
      <div
        class="wistia_responsive_padding"
        style="padding:56.25% 0 0 0;position:relative;">
        <div
          class="wistia_responsive_wrapper"
          style="height:100%;left:0;position:absolute;top:0;width:100%;">
          <div
            class="wistia_embed wistia_async_m0bwh4tq2c seo=true videoFoam=true"
            style="height:100%;position:relative;width:100%">
            <div
              class="wistia_swatch"
              style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
              <img
                src="https://fast.wistia.com/embed/medias/m0bwh4tq2c/swatch"
                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                alt=""
                aria-hidden="true"
                onload="this.parentNode.style.opacity=1;"
              />
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="lg:h-[800px] sm:h-[500px] h-[300px]  w-full">
      <img src={trial} class="object-contain h-full w-full" alt="Ventrad trial">
    </div>
    <Button action="contact" className="self-center">{t("action.demo")}</Button>
  </div>
</Container>
<script src="https://fast.wistia.com/embed/medias/m0bwh4tq2c.jsonp" async
></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
