---
import { Trans } from "astro-i18next/components";
import { Icon } from "astro-icon/components";
import { t } from "i18next";
---

<div
  class="contact-modal z-50 h-[100dvh] w-[100dvw] bg-black/50 backdrop-blur-[3px] fixed top-0 left-0 flex items-center justify-center p-2">
  <div
    class="w-[min(550px,100%)] rounded-xl lg:rounded-2xl bg-white p-5 lg:p-8 flex flex-col gap-4 contact-box">
    <div class="flex items-start gap-4 justify-between">
      <p class="text-2xl text-secondary-active font-bold">
        <Trans i18nKey="contactForm.headerTitle">
          {t("contactForm.headerTitle")}
        </Trans>
      </p>
      <button
        class="p-3 close-modale-btn text-gray-700 bg-gray-200/80 hover:bg-gray-300/60 transition rounded-full text-xl">
        <Icon name="close" />
      </button>
    </div>
    <p class="text-black/50">
      {t("contactForm.description")}
    </p>
    <form
      id="contact-us"
      action=""
      class="mt-5 grid grid-cols-2 gap-x-8 gap-y-6">
      <label for="first_name" class="flex flex-col gap-1 font-medium">
        {t("contactForm.fields.firstName")}
        <input
          required
          class="p-3 focus:outline-none focus:border-secondary-darker border border-gray-300 transition rounded-2xl bg-[#E9EDF1]"
          placeholder={t("contactForm.fields.firstName")}
          type="text"
          id="first_name"
          name="first_name"
        />
      </label>
      <label for="last_name" class="flex flex-col gap-1 font-medium">
        {t("contactForm.fields.lastName")}
        <input
          name="last_name"
          required
          class="p-3 focus:outline-none focus:border-secondary-darker border border-gray-300 transition rounded-2xl bg-[#E9EDF1]"
          placeholder={t("contactForm.fields.lastName")}
          type="text"
          id="last_name"
        />
      </label>
      <label for="email" class="flex flex-col gap-1 font-medium">
        Email
        <input
          name="email"
          required
          class="p-3 focus:outline-none focus:border-secondary-darker border border-gray-300 transition rounded-2xl bg-[#E9EDF1]"
          placeholder="Email"
          inputmode="email"
          type="email"
          id="email"
        />
      </label>
      <label for="phone" class="flex flex-col gap-1 font-medium">
        {t("contactForm.fields.phone")}
        <input
          name="phone"
          required
          class="p-3 focus:outline-none focus:border-secondary-darker border border-gray-300 transition rounded-2xl bg-[#E9EDF1]"
          placeholder={t("contactForm.fields.phone")}
          inputmode="numeric"
          type="number"
          id="phone"
        />
      </label>
      <label for="company" class="flex flex-col gap-1 col-span-2">
        <p>
          {t("contactForm.fields.company.label")}
          <span class="font-light text-black/50"
            >{t("contactForm.fields.company.optional")}
          </span>
        </p>
        <input
          name="company"
          class="p-3 focus:outline-none focus:border-secondary-darker border border-gray-300 transition rounded-2xl bg-[#E9EDF1]"
          placeholder={t("contactForm.fields.company.label")}
          type="text"
          id="company"
        />
      </label>
      <button
        form="contact-us"
        class="p-3 bg-primary col-span-2 mt-4 text-white rounded-2xl hover:bg-primary-hover active:bg-primary-active font-semibold send-contact-btn"
        >{t("contactForm.submitButton")}
      </button>
    </form>
  </div>
</div>
<div
  class="fixed top-5 left-1/2 border border-teal-800 -translate-x-1/2 py-3 px-6 shadow-md font-semibold text-teal-600 flex items-center gap-2 bg-teal-50 rounded-lg tracking-wide toast">
  {t("contactForm.toastMessage")}
  <Icon name="mdi:check" />
</div>
