---

---
<form class="h-8 relative mt-8 email-submit">
  <input
    placeholder="Email address"
    class="bg-secondary-light-hover/80 p-4 min-w-[350px] rounded-full focus:outline-none placeholder:text-gray-600"
    type="email"
    name="contact"
    id="contact"
    required
  />
  <button
    class="bg-primary hover:bg-primary-hover absolute right-1 top-1/2 -translate-y-[12px] px-5 py-3 text-white rounded-full font-semibold"
    >Commencer</button
  >
</form>
<script>
  const form = document.querySelector(".email-submit") as HTMLElement;
  form.addEventListener("submit", e => {
    e.preventDefault();
    (form.children[0] as HTMLInputElement).value = "";
  });
</script>