---
import logotext from "@assets/logos/logoText.svg?url";
import Button from "./ui/Button.astro";
import MobileMenu from "./MobileMenu.astro";
import LangPicker from "./LangPicker.astro";
import { t } from "i18next";

// export const navLinks = [
//   { label: "Accueil", href: "/" },
//   { label: "Fonctionnalités", href: "/functions" },
//   { label: "À Propos de Nous", href: "/about" },
//   { label: "Tarification", href: "/pricing" },
//   { label: "Blog", href: "/blog" },
// ];
const navLinks: Array<any> = t("navlinks", {
  returnObjects: true,
});
---

<header class="">
  <div class="p-2 text-center relative bg-secondary text-white">
    {t("header.message")}
    <button class="font-semibold contact underline hover:no-underline"
      >{t("action.contact")}</button
    >
  </div>
  <div class="w-[min(100%,1400px)] mt-2 -mb-3 pr-10 flex justify-end mx-auto">
    <LangPicker />
  </div>
  <div
    class="p-4 lg:p-6 mb-2 max-w-1400 mx-auto flex items-center justify-between gap-2 sm:gap-4 text-secondary-dark">
    <a href="/">
      <img src={logotext} class="max-h-4 sm:max-h-7" alt="Ventrad" />
    </a>
    <nav aria-label="breadcrumb">
      <ol class="flex items-center gap-2 max-[1100px]:hidden">
        {
          navLinks?.map(item => (
            <li>
              <a
                data-navlink
                class="font-medium px-2 py-1 transition relative group aria-current:font-semibold aria-current:text-primary "
                href={item.href}>
                {item.label}
                <p class="absolute h-[6px] opacity-0 transition group-aria-current:opacity-100 aspect-square rounded-full bg-primary -bottom-1 left-1/2 -translate-x-1/2" />
              </a>
            </li>
          ))
        }
      </ol>
    </nav>
    <div class="">
      <div class="flex items-center gap-4">
        <button
          class="font-medium hover:underline underline-offset-2 max-[1100px]:hidden go-watch-trial"
          >{t("action.watch_trial")}</button
        >
        <Button action="contact">{t("action.demo")}</Button>
        <button
          class="flex-col menu-btn gap-[6px] ml-2 hidden max-[1100px]:flex">
          <p class="h-[3px] w-8 rounded-full bg-secondary"></p>
          <p class="h-[3px] w-5 rounded-full bg-secondary"></p>
          <p class="h-[3px] w-8 rounded-full bg-secondary"></p>
        </button>
      </div>
    </div>
  </div>
  <MobileMenu />
</header>
<script>
  const navlinks = document.querySelectorAll(
    "[data-navlink]"
  ) as NodeListOf<HTMLAnchorElement>;

  navlinks.forEach(link => {
    const path = window.location.pathname;
    const url =
      path.length > 1 && path.endsWith("/")
        ? path.substring(0, path.length - 1)
        : path;
    if (url === link.pathname) link.setAttribute("aria-current", "page");
  });
</script>
