---
import Button from "./ui/Button.astro";
import Container from "./ui/Container.astro";
---

<Container>
  <div
    class="bg-secondary-dark rounded-2xl lg:rounded-[30px] min-h-[400px] p-4 lg:min-h-[550px] flex items-center justify-center flex-col relative text-white text-center gap-3 lg:gap-5">
    <h1
      class="text-3xl sm:text-4xl md:text-5xl lg:text-[66px] font-bold flex flex-col">
      COMING SOON ...
    </h1>

    <!-- <div
      class="flex items-center gap-3 mt-5 lg:mt-8 flex-wrap justify-center">
      <Button variant="outline" action="contact" color="white"
        >Contacter Sales</Button
      >
      <Button>Obtenir Une Démo</Button>
    </div> -->
  </div>
</Container>
