---
import { t } from "i18next";
---

<form
  class="grid mt-10 gap-3 grid-cols-4 max-[450px]:grid-cols-2 w-full mx-auto p-2 py-4 sm:p-4 rounded-lg border border-secondary/50">
  <div class="w-full flex">
    <input checked class="hidden peer" type="radio" name="price" id="plan-47" />
    <label
      class="p-2 sm:p-[10px] border-secondary/15 w-full cursor-pointer transition font-medium text-secondary peer-checked:font-bold peer-checked:text-secondary-dark-hover peer-checked:bg-secondary/15 rounded-lg border peer-checked:border-secondary/50"
      for="plan-47">
      {t("pricing.basic")}
    </label>
  </div>
  <div class="w-full flex">
    <input class="hidden peer" type="radio" name="price" id="plan-77" />
    <label
      class="p-2 sm:p-[10px] border-secondary/15 w-full cursor-pointer transition font-medium text-secondary peer-checked:font-bold peer-checked:text-secondary-dark-hover peer-checked:bg-secondary/15 rounded-lg border peer-checked:border-secondary/50"
      for="plan-77">
      {t("pricing.growth")}
    </label>
  </div>
  <div class="w-full flex">
    <input class="hidden peer" type="radio" name="price" id="plan-200" checked />
    <label
      class="p-2 sm:p-[10px] border-primary-dark/30 w-full cursor-pointer transition font-medium text-primary peer-checked:font-bold peer-checked:text-primary peer-checked:bg-primary/10 rounded-lg border peer-checked:border-primary/50"
      for="plan-200">
      {t("pricing.advanced")}
    </label>
  </div>
  <div class="w-full flex">
    <input class="hidden peer" type="radio" name="price" id="plan-500" />
    <label
      class="p-2 sm:p-[10px] border-secondary/15 w-full cursor-pointer transition font-medium text-secondary peer-checked:font-bold peer-checked:text-secondary-dark-hover peer-checked:bg-secondary/15 rounded-lg border peer-checked:border-secondary/50"
      for="plan-500">
      {t("pricing.enterprise")}
    </label>
  </div>
</form>

<script>
  type planType = "basic" | "avance" | "scale" | "entreprise";
  const plans: Record<planType, HTMLElement> = {
    basic: document.querySelector(".plan-47"),
    avance: document.querySelector(".plan-200"),
    scale: document.querySelector(".plan-77"),
    entreprise: document.querySelector(".plan-500"),
  };

  const showPlan = (selectedPlan: planType) => {
    Object.entries(plans).forEach(([plan, element]) => {
      if (element) {
        if (plan === selectedPlan) {
          element.classList.add("selected");
        } else {
          element.classList.remove("selected");
        }
      }
    });
  };

  const form = document.querySelector("form") as HTMLFormElement;
  if (form) {
    form.addEventListener("change", event => {
      const target = event.target as HTMLInputElement;
      if (target.name === "price" && target.checked) {
        switch (target.id) {
          case "plan-47":
            showPlan("basic");
            break;
          case "plan-77":
            showPlan("scale");
            break;
          case "plan-200":
            showPlan("avance");
            break;
          case "plan-500":
            showPlan("entreprise");
            break;
          default:
            console.warn("Unknown plan selected");
        }
      }
    });
  }
</script>
